{{>head}}
{{>nav}}
<div class="row">
  <div class="col-8">
    <h1>{{toCaps  companyname}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, ad molestias consequatur quisquam expedita
      aliquid repudiandae cumque nam tempora! Saepe neque eum alias error fuga mollitia. Ad ratione eum sit.</p>
  </div>
  <div class="col-4">
    <img src="/assets/img/nodebanner.jpeg" class="img-thumbnail" alt="">
  </div>
</div>
{{>footer}}